<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "css/chroma-github.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" />
  <style>
    body {
      font-family: 'Alegreya', serif;
    }
  </style>
  {{ partial "head-custom.html" . }}
</head>
<body class="{{ if .IsHome }}is-home{{ end }}">
  {{ partial "header.html" . }}
  
  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
  {{ if .Param "math" }}{{ partialCached "math.html" . }}{{ end }}
</body>
</html>
